body{
  background-image: url("../images/fundo.jpg");
}
main{
  font-family: 'Roboto', sans-serif;
  background: #FFFFE0;
  width: 70%;
  text-align: center;
  margin: auto;
}

header{
  text-align: center;
  font-size: 2em;
  color: #FFF;
}

.categoria{
  text-align: center;
  font-size: 2em;
  color: rgb(244,90,139);
  text-transform: uppercase;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p{
  font-size: 1.5em;
}

#navegacao{
  font-family: 'Pacifico', cursive;
    font-size: 1.6em;
}
nav ul{
  background-color: rgb(140,202,242);
  background-color: hsla(202, 80%, 50%, 0.7);
  display: flex;
  justify-content:space-around;
  list-style: none;
  align-items: center;

}
nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  color: rgb(244,90,139);
}

footer{
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  text-shadow: -5px 2px blur;
}
